
%rounded {
    border-radius: 10px;
  }

  %img-caption {
    + em {
      display: block;
      text-align: center;
      font-style: normal;
      font-size: 80%;
      padding: 0;
      color: #6d6c6c;
    }
  }

.embed-video {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    aspect-ratio: 16 / 9;
  
    @extend %rounded;
  
    &.twitch {
      aspect-ratio: 310 / 189;
    }
  
    &.file {
      display: block;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      margin-bottom: 0;
    }
  
    @extend %img-caption;
  }
  
  .embed-audio {
    width: 100%;
    display: block;
  
    @extend %img-caption;
  }
  